body {
  text-align: center;
  background-color: #2163ae;
}

#title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  4%;
  color: #FEF2BF;
}

.container {
  display: flex;
  width: 80%;
  margin: auto;

}
.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: rgb(95, 31, 129);
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
.img1{
  display: inline-block;
  justify-content: center;
  margin: 5% -42px 0 -19px;
  width: 50%;
  height: 70%;
}